body {
  width: 600px;
  margin: 40px auto;
  padding: 20px 0;
  background-color: rgb(251, 214, 112);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 20px;
  justify-content: center;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.navigation-links a {
  background-color: brown;
  padding: 10px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.croissant {
  display: inline-block;
  border-radius: 20px;
}

.email-link {
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 40px;
}
